body{
  margin: 0;
  padding: 0;
}

.login-container {
  position: relative;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 44px;
  width: 100%;
}

.login-menu {
  position: absolute;
  top: 12px;
  right: 12px;
}

.login-menu a {
  text-decoration: none;
  color: #696969;
  font-size: 16px;
  margin-left: 16px;
}

.home-body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  white-space: nowrap; /* 줄 바꿈 금지 */
  overflow: hidden; /* 넘치는 부분 감춤 */
}

.logo-home {
  margin: 35px;
}
  
.nav-category {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  width : 60%;
}

.nav-category a {
  text-decoration: none;
  color: #696969;
  font-weight: bold;
  font-size: 24px;
  margin-right: 48px;
  text-align: left;
}

.nav-searchbox {
  width : 300px;
  height: 36px;
  border: 2px solid #696969;
  background-color : white;
  border-radius: 12px;
  margin-left: auto; /* input 요소를 오른쪽으로 정렬합니다. */
}

.footer-main {
  background-color : #cccccc;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  padding: 10px;
}