body{
  margin: 0;
  padding: 0;
}

/* 네비게이션 바 */
.mobile-menu,
.mobile-search{
  display: none;
}

.login-container {
  position: relative;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 44px;
  width: 100%;
}

.login-menu {
  position: absolute;
  top: 12px;
  right: 12px;
}

.login-menu a {
  text-decoration: none;
  color: #696969;
  font-size: 16px;
  margin-left: 16px;
}

.home-body {
  display: flex;
  flex-direction: column;
}

.logo-home {
  max-height: 100%; /* 이미지가 부모 요소의 높이를 넘지 않도록 설정 */
  max-width: 100%; /* 이미지가 부모 요소의 너비를 넘지 않도록 설정 */
  margin: 35px;
  object-fit: contain;
  max-height: 50px;
}

.nav-wrapper{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  white-space: nowrap; /* 줄 바꿈 금지 */
  overflow: hidden; /* 넘치는 부분 감춤 */
}

.nav-category {
  justify-content: flex-start;
}

.nav-category a {
  text-decoration: none;
  color: #696969;
  font-weight: bold;
  font-size: 24px;
  margin-right: 24px;
  text-align: left;
}

.nav-searchbox {
  width : 300px;
  height: 36px;
  border: 2px solid #696969;
  background-color : white;
  border-radius: 12px;
  margin-left: auto; /* input 요소를 오른쪽으로 정렬합니다. */
}

.footer-main {
  background-color : #cccccc;
  flex-shrink: 0;
  color: #000000;
  text-align: center;
  padding: 10px;
}

/* 배너 */
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin-top: 24px;
  margin: auto;
  overflow: hidden; /* 넘치는 부분 감춤 */
  text-align: center; /* 이미지를 가운데 정렬 */
}

.slideshow-container img{
  margin: 10px auto;
  max-width: 100%;
  height: 300px;
  flex: 0 0 auto;
  object-fit: contain;
  display: block;
}

/* Caption text */
.text {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-dot{
  text-align: center;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* 물품 리스트 */
.category-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 36px;
}
.card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}
.card-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  border: 2px solid #F7F7F7;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 10px;
  transition: box-shadow 0.3s ease; /* 음영이 나타나는 트랜지션 효과 추가 */
  text-decoration: none; /* 밑줄 없애기 */
}
.card-container:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* 음영 효과 */
}
.card-image {
  margin: 10px;
  width: auto;
  height: 300px;
  flex: 0 0 auto;
  object-fit: contain;
}
.card-infor {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.card-title {
  font-size: 20px;
  color: black; /* 텍스트 색상을 검은색으로 설정 */
  font-weight: bold; /* 굵은 글꼴로 설정 */
  overflow: hidden; /* 텍스트가 영역을 넘어갈 경우 숨깁니다. */
  text-overflow: ellipsis; /* 텍스트가 잘린 경우 말줄임표로 표시합니다. */
  white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정합니다. */
}
.card-text {
  font-size: 20px;
  color: red; /* 텍스트 색상을 빨간색으로 설정 */
  font-weight: bold; /* 굵은 글꼴로 설정 */
}
/* 화면 폭이 1300px 이하일 때 */
@media (max-width: 1300px) {
  .card-list {
    max-width: 990px;
  }
}
/* 화면 폭이 990px 이하일 때 */
@media (max-width: 990px) {
  .card-list {
    max-width: 680px;
  }
}
/* 화면 폭이 768px 이하일 때 (모바일) */
@media (max-width: 768px) {
  /* 네비게이션 바 */
  .nav-main .login-container .login-menu,
  .nav-main .home-body .nav-wrapper .nav-category,
  .nav-main .home-body .nav-wrapper .nav-searchbox,
  .dot {
    display: none;
  }  
  .login-container {
    display: flex;
    justify-content: flex-end;
    height: 15px;
    width: 100%;
  }

  .mobile-menu{
    display: inline;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .mobile-search{
    display: inline;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
  }
  
  /* 배너 */
  .slideshow-container img{
    max-width: 100%;
    height: 120px;
  }

  /* 물품 리스트 */
  .card-list {
    justify-content: center;
    max-width: 680px;
  }
  .card-container {
    flex-direction: row; /* 요소들을 가로 방향으로 배치합니다. */
    justify-content: flex-start;
    width: 100%;
    height: 220px;
    border-radius: 0;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .card-image {
    width: 200px;
    height: 200px;
  }
  .card-title {
  display: -webkit-box; /* -webkit- 접두사를 사용하여 작동하는 Flexbox 컨테이너로 표시합니다. */
  -webkit-line-clamp: 3; /* 표시할 줄 수를 지정합니다. */
  -webkit-box-orient: vertical; /* Flexbox의 주축을 수직 방향으로 설정합니다. */
  white-space: normal; /* 텍스트가 한 줄로 표시되도록 설정합니다. */
  }
}