.card-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10%;
}
.card-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  border: 2px solid #F7F7F7;
  background-color: #ffffff;
  border-radius: 12px;
  margin: 10px;
  transition: box-shadow 0.3s ease; /* 음영이 나타나는 트랜지션 효과 추가 */
  text-decoration: none; /* 밑줄 없애기 */
}
.card-container:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); /* 음영 효과 */
}
.card-image {
  margin: 10px;
  width: auto;
  height: 300px;
}
.card-infor {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.card-title {
  font-size: 24px;
  color: black; /* 텍스트 색상을 검은색으로 설정 */
  font-weight: bold; /* 굵은 글꼴로 설정 */
}
.card-text {
  font-size: 20px;
  color: red; /* 텍스트 색상을 빨간색으로 설정 */
  font-weight: bold; /* 굵은 글꼴로 설정 */
}